.img{
    padding: 20px !important;
    border-radius: 30px !important;
    width: 100% !important;
    height: 500px !important;
    object-fit: cover !important
}

.btn-fav-movie{

    background-color: white;
}

// .bi{
//     width: 100px;
//     height: 100px;
// }